* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #f13bc9;
}

.header {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: f13bc9;
    padding: 30px;
}

button.addtarefa {
    border: none;
    background-color: rgb(227, 77, 169);
    color: rgb(76, 76, 76);
    font-size: 16px;
    padding: 9px 22px;
    border-radius: 6px;
    cursor: 50px 0;
}

button.addNovaTarefa {
    border: none;
    background-color: #eba2db;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 9px 22px;
    border-radius: 6px;
    cursor: 50px 0;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.container .coluna {
    width: 250px;
    height: 600px;
    background-color: #eba2db;
    border-radius: 10px;
    overflow: hidden;
}

.container .coluna .header {
    padding: 15px;
    text-align: left;
}

.container .coluna .body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.container .coluna .body .card {
    background-color: #f3ceeb;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .coluna .body .card .info{
    font-size: 14px;
    color: rgba(69, 69, 69, 0.6);
    display: flex;
    flex-direction: column;
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fdfdfd9e;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal .box {
    background-color: #eba2db;
    width: 400px;
    border-radius: 7px;
    overflow: hidden;
}

#modal .box .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #eba2db;
}

#modal .box .header span {
    font-size: 19px;
    font-weight: 700;
    color: #767676;
}

#modal .box .header button {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #ff4bcc;
}

#modal .box .form {
    padding: 20px;
}

#modal .box .form .form-group {
    margin-bottom: 15px;
}
#modal .box .form label {
    display: block;
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
}

#modal .box .form textarea {
    width: 100%;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid rgb(44, 44, 44);
    color: #353535;
}

#modal .box .form select {
    width: 100%;
    font-size: 14px;
    color: rgb(87, 87, 87);
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(45, 45, 45);
}

#modal .box .form button {
    margin: auto;
}
